.main-box {
  max-width: 1280px;
  margin: auto;
}
.logo_text {
  background: var(
    --TWS-Color-option,
    linear-gradient(270deg, #029ed8 0%, #3f5efb 99.97%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 900 !important;
  line-height: 140%;
}

.navbar-box {
  display: flex !important;
  gap: 10px;
  border: 1px solid #029ed8;
  border-radius: 30px;
  padding: 20px 32px;
}

.navbar-box button {
  color: #6c6c6c;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-transform: capitalize;
}

.started-btn {
  border-radius: 16px !important;
  background: linear-gradient(270deg, #029ed8 0%, #3f5efb 99.97%);
  color: white !important;
}

.MuiToolbar-root {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.heading-text {
  color: #1e1e1e;
  text-align: center;
  font-family: Poppins;
  font-size: 30px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.heading-text2 {
  text-align: center;
  font-family: Poppins;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 134%;
}

.heading-content {
  color: #6c6c6c;
  text-align: center;
  font-family: Poppins;
  font-size: 20px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 148%;
  margin-top: 16px;
  max-width: 1088px;
  margin: 16px auto 170px !important;
}

.black-box {
  background-color: black;
  width: 100%;
}

.inner-black-box {
  padding-top: 80px;
  padding-bottom: 20px;
}

.first-black-component {
  color: #fafafa;
  font-family: Poppins;
  font-size: 48px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 140%;
}

.second-black-component {
  color: #fff;
  font-family: Poppins;
  font-size: 90px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 134%;
  padding-block: 20px !important;
}

.third-black-component {
  max-width: 1066px;
  color: #cecece;
  text-align: justify;
  font-family: Poppins;
  font-size: 20px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 148%;
  margin-bottom: 16px !important;
}
.jobHeading {
  color: #1e1e1e;
  font-size: 48px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 140% !important; /* 67.2px */
  text-align: center;
  margin-top: 80px;
}
.jobSubHEAD {
  color: #6c6c6c;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 148% !important; /* 29.6px */
}
.gridLayout {
  display: flex;
  height: 260px;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 24px;
  border: 0px solid var(--TWS-Grey1, #cecece);
  background: linear-gradient(
    270deg,
    rgba(2, 158, 216, 0.05) 0%,
    rgba(63, 94, 251, 0.05) 99.97%
  );
  backdrop-filter: blur(10px);
  backdrop-filter: blur(36.5px);
  width: 305px;
}
.gridInsideText {
  color: #1e1e1e;
  text-align: center;
  font-size: 24px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 140% !important;
  width: 259px !important;
}
.gridInsideSubText {
  color: #1e1e1e;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 150% !important;
}
.mainGridView {
  display: flex !important;
  padding: 24px 0;
  flex-direction: row;
  gap: 20px !important;
  flex-wrap: wrap;
  justify-content: center;
}
.trustedCompanyMain {
  display: flex;
  padding: 60px 100px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}
.trustedHead {
  color: #1e1e1e;
  text-align: center;
  max-width: 1060px;
  margin: 150px auto 0px !important;
  font-size: 24px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 140% !important; /* 33.6px */
}
.mncImage {
  margin: 40px auto;
}
.lineGrad {
  max-width: 1092px;
  width: 100%;
  height: 2px;
  margin: 20px auto;
  background: linear-gradient(
    270deg,
    rgba(2, 158, 216, 0) 0%,
    #029ed8 25%,
    #3f5efb 50%,
    #148be2 75%,
    rgba(20, 139, 226, 0) 100%
  );
}
.footer {
  display: flex;
  min-height: 498px !important;
  padding: 100px 0px 60px 0px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background: #000209;
}
.footerMain {
  max-width: 1280px;
  margin: auto;
  width: 100%;
  display: flex;
  gap: 60px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footerHead {
  background: linear-gradient(270deg, #029ed8 0%, #3f5efb 99.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 24px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 140%;
}
.footerContenOne {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.footerSubOne {
  color: #cecece;

  /* TWS/Body alt-16px */
  font-size: 16px;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 150% !important; /* 24px */
  width: 277px !important;
}
.footerIcon {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footerSubHead {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 150% !important; /* 24px */
}
.footerSubHeadMain {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
.footerEnd {
  color: #fff;
  display: flex;
  gap: 5px;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 140% !important;
}
@media (max-width: 899px) {
  .navbar-box {
    display: none !important;
  }
  .sidebarnav {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .first-black-component {
    font-size: 24px !important;
  }
  .second-black-component {
    font-size: 30px !important;
  }
  .third-black-component {
    text-align: left;
    line-height: normal !important;
    font-size: 16px !important;
  }
  .jobHeading {
    font-size: 30px !important;
  }
  .footerMain {
    flex-direction: column;
  }
  .heading-content {
    font-size: 16px !important;
    line-height: normal !important;
    margin-bottom: 50px !important;
    padding-inline: 10px;
  }
  .inner-black-box {
    padding-inline: 10px;
    padding-bottom: 20px;
  }
  .footer {
    padding: 50px 10px !important;
  }
  .heading-text {
    font-size: 18px !important;
  }
  .heading-text2 {
    font-size: 32px !important;
  }
  .headingbox {
    margin-top: 80px !important;
  }
}
.dotbox {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #dadada;
  display: inline-block;
}
